<template>
  <div>
    <p v-if="errors.length">
      <b>The following error(s) have occurred:</b>
      <ul>
        <li v-for="error in errors">
          {{ error }}
        </li>
      </ul>
    </p>

    <div class="account-editing">
      <div class="control-group">
        <label class="signup-field-icon fui-user" for="signup_display_name">Display Name: </label>
        <input :disabled="!editing" type="text" id="signup_display_name" class="signup-field" v-model="display_name" placeholder="Display Name" name="display_name">
      </div>
      <div class="control-group">
        <label class="signup-field-icon fui-user" for="signup_username">Username: </label>
        <input :disabled="!editing" type="text" id="signup_username" class="signup-field" v-model="username" placeholder="Username" name="username">
      </div>
      <div class="control-group">
        <label class="signup-field-icon fui-user" for="signup_email">Email: </label>
        <input :disabled="!editing" type="text" id="signup_email" class="signup-field" v-model="email" placeholder="email@email.com" name="email">
      </div>
      <input v-if="editing" v-on:click="reset" type="submit" id="cancel_button" value="Cancel" style="width: 20%; min-width: 150px;" class="btn btn-primary btn-large" >
      <input v-if="editing" v-on:click="saveData" type="submit" id="save_button" value="Save" style="width: 20%; min-width: 150px;" class="btn btn-primary btn-large" >
      <input v-else v-on:click="editData" type="submit" id="edit_button" value="Edit" style="width: 20%; min-width: 150px;" class="btn btn-primary btn-large" >
      <br>
    </div>
    <div>
      <h2>Channels:</h2>
      <div v-for="channel in channels" class="row">
        <ChannelListItem :channel_guid="channel.guid" :from_rss_feed="channel.from_rss_feed" :channel="channel"/>
      </div>
      <router-link :to="{ name: 'CreateChannel' }">New Channel</router-link>
    </div>
  </div>
</template>

<script>
  import ChannelListItem from "../channels/ChannelListItem";
  import ChannelService from "../../services/ChannelService";
  import UserService from "../../services/UserService";
  export default {
    name: "MyAccount",
    components: {ChannelListItem},
    data () {
      return {
        editing: false,
        errors: [],
        channels: [],
        username: '',
        display_name: '',
        email: '',
        guid: null,
      }
    },
    methods: {
      editData: function () {
        this.editing = true;
      },
      saveData: function() {
        UserService.updateUserInfo(this.username, this.display_name, this.email).then( resp => {
          this.editing = false;
          this.errors = [];
        }).catch( error => {
          this.editing = true;
          console.log(error.response);
          if (error.response != null && error.response.data != null && error.response.data.errors != null) {
            this.errors = error.response.data.errors;
          } else {
            this.errors = [ "Error saving data, please try again later" ]
          }
        })
      },
      loadChannels: function () {
        ChannelService.getChannelsForUser(this.guid).then(resp => {
          this.channels = resp.data.channels;
        }).catch(err => {
          console.log(err);
        })
      },
      reset: function () {
        this.editing = false;
        this.errors = false;
        console.log("Loading user data");
        UserService.getUserData().then( resp => {
          // console.log(resp);
          this.email = resp.data.user.email;
          this.display_name = resp.data.user.display_name;
          this.username = resp.data.user.username;
          this.guid = resp.data.user.guid;
          this.loadChannels();
        });
      }
    },
    mounted() {
      this.reset();
    }
  }
</script>

<style lang="scss" scoped>

</style>
