
<template>
  <form action="#" @submit.prevent="login">
  	<div class="login">
  		<div class="login-screen">
  			<div class="app-title">
  				<h1>Login</h1>
  			</div>

        <div class="error-message">
          {{ errorMessage }}
        </div>

  			<div class="login-form">
  				<div class="control-group">
    				<input type="text" id="login_username" class="login-field" v-model="username" placeholder="username" name="username">
    				<label class="login-input fui-user" for="login_username"></label>
  				</div>

  				<div class="control-group">
    				<input type="password" id="login_password" class="login-field" v-model="password" placeholder="password" name="password">
    				<label class="login-input fui-lock" for="login_password"></label>
  				</div>
          <input type="submit" id="login_button" value="Log in" class="login-button btn btn-primary btn-large" >
  			    <br>
  			</div>
  		</div>
  	</div>
  </form>
</template>

<script>
  import axios from 'axios';

export default {
  name: 'Login',
  data () {
    return {
      username: '',
      password: '',
      errorMessage: '',
    }
  },
  methods: {
    login() {
      this.$store.dispatch('loginUser', {
        username: this.username,
        password: this.password,
      }).then(() => {
        this.errorMessage = "";
        this.$router.push({name: "Home"});
      }).catch(() => {
        this.errorMessage = "Failed to login"
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

  .login-input {
    margin: 10px;
  }

  .login-button {
    margin: 10px;
    background-color: #4caf50;
  }
</style>
