<template>
    
</template>

<script>
    export default {
        created() {
          this.$store.dispatch('logoutUser').then(() => {
            this.$router.push({name: 'Home'})
          })
        }
    }
</script>

<style lang="scss" scoped>

</style>
