<template>
  <div>
    <h2>Authentication required to access listenup</h2>
    <Login />
    <br/>
    <SignUp />
  </div>
</template>

<script>
  import Login from '@/components/auth/Login'
  import SignUp from '@/components/auth/SignUp'
  import { mapState, mapGetters } from 'vuex'

    export default {
      name: "RequireAuthentication",
      components: {
        Login,
        SignUp
      },
      computed: {
        ...mapGetters({
          authenticated: 'loggedIn',
        })
      }
    }
</script>

<style lang="scss" scoped>

</style>
