<template>
  <form method="POST" @submit="checkForm">
  	<div class="signup">
  		<div class="signup-screen">
  			<div class="app-title">
  				<h1>Sign  Up</h1>
  			</div>
        <p v-if="errors.length">
          <b>Please correct the following error(s):</b>
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
        </p>

  			<div class="signup-form">
  				<div class="control-group">
    				<label class="signup-field-icon fui-user" for="signup_display_name">Display Name: </label>
            <input type="text" id="signup_display_name" class="signup-field" v-model="display_name" placeholder="Display Name" name="display_name">
  				</div>
          <div class="control-group">
            <label class="signup-field-icon fui-user" for="signup_username">Username: </label>
            <input type="text" id="signup_username" class="signup-field" v-model="username" placeholder="Username" name="username">
          </div>
          <div class="control-group">
            <label class="signup-field-icon fui-user" for="signup_email">Email: </label>
            <input type="text" id="signup_email" class="signup-field" v-model="email" placeholder="email@email.com" name="email">
          </div>
  				<div class="control-group">
            <label class="signup-field-icon fui-lock" for="signup_password">Password: </label>
    				<input type="password" id="signup_password" class="signup-field" v-model="password" placeholder="Password" name="password">
  				</div>
          <div class="control-group">
            <label class="signup-field-icon fui-lock" for="signup_confirm_password">Confirm Password: </label>
            <input type="password" id="signup_confirm_password" class="signup-field" v-model="confirm_password" placeholder="Confirm Password" name="confirm">
          </div>
          <div class="control-group">
            <label class="signup-field-icon fui-lock" for="signup_tos">I Accept The Terms of Service: </label>
            <input type="checkbox" id="signup_tos" class="signup-field" v-model="accept_tos" value="true" name="accept_tos">
          </div>
          <input type="submit" id="signup_button" value="Sign Up" class="btn btn-primary btn-large btn-block" >
  			  <br>
  			</div>
  		</div>
  	</div>
  </form>
</template>

<script>
  import UserService from "../../services/UserService";

  export default {
    name: 'SignUp',
    data () {
      return {
        errors: [],
        username: '',
        display_name: '',
        email: '',
        password: '',
        confirm_password: '',
        accept_tos: false,
      }
    },
    methods: {
      checkForm: function (e) {
        e.preventDefault();

        this.errors = [];
        if (this.password !== this.confirm_password) {
          this.errors.push("Passwords don't match");
        } else if (this.password === '') {
          this.errors.push("Please enter a password");
        } else if (this.password.length < 8) {
          this.errors.push("Password is too short, use at least 8 characters");
        }
        if (this.username === '') {
          this.errors.push("Please enter a username");
        } else if (this.username.length < 4) {
          this.errors.push("Username must be at least 4 characters");
        } else if (this.username.indexOf(' ') >= 0) {
          this.errors.push("Username can not contain a space");
        }
        if (!this.accept_tos) {
          this.errors.push("Please Accept Terms of Service");
        }
        if (this.errors.length === 0) {
          this.postToServer(e);
        }
      },
      postToServer: function (e) {
        let _this = this;
        UserService.registerUser(
          this.username, this.display_name, this.email, this.password, this.confirm_password, this.accept_tos
        ).then(function(response) {
          console.log(response);
          _this.$store.commit('SET_TOKEN', response.data.token);
          _this.$store.commit('SET_CURRENT_USER', response.data);
          _this.$router.push({ name: 'Home'} );
          console.log(response.data.token);
        }).catch(function (error) {
          console.log(error.response);
          if (error.response != null && error.response.data != null && error.response.data.errors != null) {
            _this.errors = error.response.data.errors;
          }
        })
      },
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

</style>
