<template>
  <div id="app">
    <AudioPlayer />
    <TopNavigation v-if="authenticated"/>
    <router-view/>
    <SmallControls v-if="['Listen'].indexOf($route.name) === -1" />
    <SideBottomNavigation v-if="authenticated"/>
  </div>
</template>

<script>
  import TopNavigation from '@/components/TopNavigation'
  import SideBottomNavigation from '@/components/SideBottomNavigation'
  import AudioPlayer from '@/components/AudioPlayer'
  import SmallControls from '@/components/SmallControls'
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'App',
    components: {
      TopNavigation,
      SideBottomNavigation,
      AudioPlayer,
      SmallControls
    },
    created () {
      this.$store.dispatch("validateToken");
    },
    mounted () {
      if (!this.authenticated) {
        this.$router.push({name: "RequireAuthentication"})
      }
    },
    computed: {
      ...mapGetters({
        authenticated: 'loggedIn',
      })
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}
</style>
