<template>
    <div>
      <audio id="audio" preload="metadata" @timeupdate="updateState($event)" v-bind:duration="audioState.duration" ref="audio" v-on:ended="ended()">
        <source v-for="file in currentAudioFiles" :src="file.primary" type="audio/mpeg">
      </audio>
    </div>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'
  export default {
    name: "AudioPlayer",
    data () {
      return {
        audioState: {
          currentTimeSeconds: 0,
          interval: null,
          duration: 203,
          playing: false,
        },
        lastUpdate: 0,
        audio: null,
      }
    },
    computed: {
      ...mapGetters({
        podcast: 'getCurrentPodcast',
      }),
      ...mapState(['currentAudioFiles'])
    },
    created() {
      eventBus.$on('audioPlay', () => { this.play() });
      eventBus.$on('audioPause', () => { this.pause() });
      eventBus.$on('audioSetTime', (time) => { this.setTime(time) });
      eventBus.$on('audioForward', (amount) => { this.forward(amount) });
      eventBus.$on('audioBackward', (amount) => { this.backward(amount) });
    },
    beforeDestroy() {
      eventBus.$off('audioPlay');
      eventBus.$off('audioPause');
      eventBus.$off('audioSetTime');
      eventBus.$off('audioForward');
      eventBus.$off('audioBackward');
    },
    methods: {
      play: function () {
        this.$refs.audio.play();
      },
      pause: function () {
        this.$refs.audio.pause();
      },
      forward: function (amount) {
        this.$refs.audio.currentTime = this.$refs.audio.currentTime + amount;
        this.updateState({ target: this.$refs.audio });
      },
      backward: function (amount) {
        let currentTime = this.$refs.audio.currentTime;
        if (currentTime - amount > 0) {
          this.$refs.audio.currentTime = currentTime - amount;
        } else {
          this.$refs.audio.currentTime = 0;
        }
        this.updateState({ target: this.$refs.audio });
      },
      updateState: function (event) {
        this.audioState.currentTimeSeconds = event.target.currentTime;
        this.audioState.duration = event.target.duration;
        this.audioState.playing = !event.target.paused;

        if (Math.abs(this.audioState.currentTimeSeconds - this.lastUpdate) > .75) {
          this.lastUpdate = this.audioState.currentTimeSeconds;
          this.$store.commit("UPDATE_AUDIO_STATE", this.audioState);
        }
      },
      setTime: function (time) {
        console.log("Setting time");
        this.$refs.audio.currentTime = time;
        this.updateState({ target: this.$refs.audio });
      },
      ended: () => {

      },
    },
    watch: {
      currentAudioFiles: {
        handler(newVal, oldVal) {
          this.$refs.audio.pause();
          this.$refs.audio.currentTime = 0;
          if (newVal != null && newVal.length !== 0) {
            this.$refs.audio.load();
          }
        },
        deep: true
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
