<template>
    <div class="borders row">
      <div class="col-xs-2" style="height: 150px;">
        <img class="rss-image" :src="this.imageUrl"/>
      </div>
      <div class="details col-xs-10">
        <div class="row">
          <h4 v-if="this.channelWithPodcasts">Channel: <router-link :to="{ name: 'RssChannel', params: { guid: channelWithPodcasts.guid } }">{{ this.channelWithPodcasts.title }}</router-link></h4>
        </div>
        <div class="podcast row" v-for="podcast in podcasts">
          <PodcastListSmall :podcast="podcast" />
        </div>
      </div>
    </div>
</template>

<script>
  import RssService from "@/services/RssService";
  import PodcastListSmall from "@/components/PodcastListSmall"
  import MarshallerService from '@/services/MarshallerService'

  export default {
    name: "ChannelWithPodcastsListItem",
    components: {
      PodcastListSmall
    },
    data() {
      return {
        channelWithPodcasts: null,
        podcasts: [],
        channel: null,
        imageUrl: "",
      }
    },
    props: {
      guid: String,
      limit: Number,
      rssFeed: Boolean,
    },
    mounted() {
      this.loadChannelWithPodcasts();
    },
    computed: {

    },
    methods: {
      loadChannelWithPodcasts() {
        if (this.rssFeed) {
          RssService.getItemsForFeedChannelStyle(this.guid).then((resp => {
            this.channelWithPodcasts = resp.data;
            this.podcasts = Object.values(resp.data.podcasts).slice(0, this.limit);
            this.updateImageUrl();
          })).catch((err) => {
            console.log(err)
          });
        } else {
          console.log("TODO regular channels")
        }
      },
      updateImageUrl: function () {
        MarshallerService.getUrlForImageGuid(this.channelWithPodcasts.image_guid).then((url) => {
          this.imageUrl = url;
        }).catch((err) => {
          console.log(err);
        })
      }
    }
  }
</script>

<style lang="scss" scoped>

  .borders {
    border-bottom: 2px solid grey;
  }

  .row {
    margin-top: 5px;
  }

  .details {
    text-align: left;
  }

  .rss-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
</style>
