<template>
  <div>
  <div class="row">
      <h3>Welcome Chance</h3>
  </div>
  <div class="row">
    <h4 class="new-podcasts padding-0">Top Subscriptions</h4>
  </div>

  <div class="row" v-for="channel in subbedChannels">
    <ChannelWithPodcastsListItem :guid="channel.guid" :rssFeed="channel.rss_feed" :limit="3"/>
  </div>

  <div class="row">
    <h4 class="new-podcasts padding-0">Hot Podcasts</h4>
  </div>
  <div class="row" v-for="channel in getHotPodcastChannels">
    <div class="col-xs-12 padding-0 class-div">
      <div class="col-xs-12 padding-0">
        <img :src="channel.channelArtSrc" alt="" class="channel-banner">
      </div>
      <div class="col-xs-12">
        <h4>{{ channel.channelName }}</h4>
      </div>

      <div v-for="podcast in channel.podcasts">
          <router-link :to="{ name: 'Listen', params: { guid: podcast.guid } }">
              <div class="row">
                <div class="col-xs-2 play-icon">
                  <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                </div>
                <div class="col-xs-10">
                  <div class="row">
                    <div class="col-xs-8">
                      <h5>{{ podcast.title }}</h5>
                    </div>
                    <div class="col-xs-4">
                      <h5>{{ podcast.runtime }}</h5>
                    </div>
                  </div>
                </div>
              </div>
          </router-link>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
  import RssService from '@/services/RssService'
  import MarshallerService from '@/services/MarshallerService'
  import { mapState, mapGetters } from 'vuex'
  import ChannelWithPodcastsListItem from "./ChannelWithPodcastsListItem";

  export default {
    name: 'Home',
    components : {
      ChannelWithPodcastsListItem
    },
    data() {
      return {
        subbedChannels: null,
      }
    },
    mounted() {
      RssService.getAllRssFeeds().then((r) => {
        this.subbedChannels = r.data;
      });
    },
    computed: {
      ...mapState({
      }),
      ...mapGetters([
        'getTopSubscriptionChannels',
        'getHotPodcastChannels',
      ]),
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

</style>
