<template>
  <div>
    <div v-if="routeGuid !== null && podcast !== null">
      <div class="row">
          <div class="col-xs-12">
              <img v-if="imageSource != null" id="podcast-art" v-bind:src="imageSource" alt="">
              <h3 v-else>Loading Image</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
              <h2 class="podcast-title">{{ podcast.title }}</h2>
          </div>
      </div>
      <div class="row" style="margin-top: auto;">
          <div class="row">
              <div class="col-xs-3 padding-0">
                  <div class="current-time" id="current-time">
                      <p id="current-time-p">{{ currentTimeSecondsFormatted }}</p>
                  </div>
              </div>
              <div class="col-xs-6">

              </div>
              <div class="col-xs-3 padding-0">
                  <div class="total-time" id="total-time">
                      <p id="total-time-p">{{ durationTimeSecondsFormatted }}</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <div id="slidecontainer">
                    <input type="range" min="1" :max="duration" v-model="currentTimeSeconds"
                           v-bind:style="[progressBarStyle]"
                           class="slider" id="progress-bar" ref="progressbar">
                  </div>
              </div>
          </div>
          <div class="row playback-row">
              <div class="col-xs-2" id="step-backward">
                  <i class="fas fa-step-backward fa-3x forward-back" aria-hidden="true"></i>
              </div>
              <div class="col-xs-2" v-on:click="backup">
                  <i class="fas fa-undo fa-3x forward-back" aria-hidden="true"></i>
              </div>
              <div class="col-xs-4 play-button" id="play" v-if="!playing" v-on:click="play">
                  <i class="far fa-play-circle fa-5x" aria-hidden="true"></i>
              </div>
              <div class="col-xs-4 play-button" id="pause" v-if="playing" v-on:click="pause">
                  <i class="far fa-pause-circle fa-5x" aria-hidden="true"></i>
              </div>
              <div class="col-xs-2" v-on:click="forward">
                  <i class="fas fa-redo fa-3x forward-back" aria-hidden="true"></i>
              </div>
              <div class="col-xs-2" id="step-forward">
                  <i class="fas fa-step-forward fa-3x forward-back" aria-hidden="true"></i>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="posted col-xs-8 col-xs-offset-2">
          <span>Posted on {{ podcast.creation_timestamp }}</span>
        </div>
      </div>
      <div class="row">
        <div class="description col-xs-8 col-xs-offset-2">
          {{ podcast.description }}
        </div>
      </div>
    </div>
    <div v-else-if="routeGuid !== 'none' && podcast === null">
      <h2>Loading podcast...</h2>
    </div>
    <div v-else>
      <h2>No podcast currently selected</h2>
    </div>

  </div>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'Listen',
    data () {
      return {
        currentProgressBarTime: 0,
        progressBarStyle: {
          background: "-webkit-linear-gradient(left, green 0%, green 0%, black 0%)"
        }
      }
    },
    computed: {
      playing: function () {
        if (this.currentAudioState !== null && this.currentAudioState !== undefined) {
          return this.currentAudioState.playing
        } else {
          return false;
        }
      },
      currentTimeSeconds: {
        get: function () {
          if (this.currentAudioState !== null && this.currentAudioState !== undefined) {
            return this.currentAudioState.currentTimeSeconds
          } else {
            return 0;
          }
        },
        set: function (newVal) {
          if (Math.abs(newVal - this.currentTimeSeconds) > 0.5) {
            console.log("modifying time");
            eventBus.$emit("audioSetTime", newVal);
          }
        }
      },
      duration: function () {
        if (this.currentAudioState != null) {
          return this.currentAudioState.duration
        } else if (this.podcast != null) {
          return this.podcast.duration;
        }
        return 1
      },
      routeGuid: function () {
        let guid = this.$route.params.guid;
        console.log(guid);
        if (guid === 'none') {
          return null;
        } else {
          return guid;
        }
      },
      currentTimeSecondsFormatted: function () {
        let currentTime = this.currentTimeSeconds;
        var temp = ("0" + Math.floor((currentTime / 3600) % 24)).slice(-2) + ":";
        temp += ("0" + Math.floor((currentTime / 60) % 60)).slice(-2) + ":";
        temp += ("0" + Math.floor(currentTime % 60)).slice(-2);
        return temp
      },
      durationTimeSecondsFormatted: function () {
        var temp = ("0" + Math.floor((this.duration / 3600) % 24)).slice(-2) + ":";
        temp += ("0" + Math.floor((this.duration / 60) % 60)).slice(-2) + ":";
        temp += ("0" + Math.floor(this.duration % 60)).slice(-2);
        return temp
      },
      percent: function () {
        return (this.currentTimeSeconds / this.duration) * 100
      },
      imageSource: function () {
        return "/static/img/channelart.jpg";
      },
      ...mapGetters({
        podcast: 'getCurrentPodcast',
        files: 'getAudioFiles',
      }),
      ...mapState(['currentAudioState'])
    },
    created () {

    },
    mounted: function () {
      if (this.routeGuid !== null) {
        console.log(this.routeGuid);
        this.$store.dispatch("loadFilesAndPodcast", this.routeGuid);
      }
      this.updateProgress();
    },
    methods: {
      updateProgress: function () {
        this.progressBarStyle['background'] = "-webkit-linear-gradient(left, green 0%, green " + this.percent + "%, black " + this.percent + "%)";

        this.$store.dispatch("recordCurrentTimeForUser");
      },
      pause: function () {
        eventBus.$emit("audioPause")
      },
      play: function () {
        eventBus.$emit("audioPlay")
      },
      backup: function () {
        eventBus.$emit("audioBackward", 10)
      },
      forward: function () {
        eventBus.$emit("audioForward", 10)
      },
    },
    watch: {
      currentAudioState: {
        handler(newVal, oldVal) {
          console.log("audio state updated");
          this.updateProgress();
        },
        deep: true
      },
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  #podcast-art {
      width: 60%;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .podcast-title {
    width: 100%;
    text-align: center;
  }

  .progress {
    height: 5px !important;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .right-fix {
    padding-right: 0;
  }

  .progress-bar {
    background-color: black !important;
  }

  .current-time {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    text-align: center;
  }

  .current-time p {
    padding: 0;
    margin: 0;
  }

  .total-time {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    text-align: center;
  }

  .total-time p {
    padding: 0;
    margin: 0;
  }

  #slidecontainer {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 7px;
    background: black;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  /* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .posted{
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .playback-row {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    div {
      height: 84px;
    }
  }

  .forward-back {
    margin-top: 20px;
  }

  .play-button {
    text-align: center;
    font-size: 1.2em;
    margin-top: 0;
  }

  .description {
    border: 1px solid #777777;
    border-radius: 10px;
    background-color: #ECF0F1;
    padding: 10px;
  }

</style>
