<template>
    <div>
      <router-link :to="{ name: 'Listen', params: { guid: podcast.guid } }">
        <h4>{{ podcast.title }}: {{ duration }}</h4>
      </router-link>
    </div>
</template>

<script>
    export default {
      name: "PodcastListSmall",
      props: {
          podcast: Object,
      },
      computed: {
        duration: function() {
          return "02:03";
        }
      }
    }
</script>

<style lang="scss" scoped>

</style>
