<template>
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container" id="footer">
      <div class="col-xs-2">
        <router-link to="/" id="home_bottom" :class="{ 'active': $route.name === 'Home' }">
          <i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home
        </router-link>
      </div>
      <div class="col-xs-2">
        <router-link to="/subs" id="subs_bottom" :class="{ 'active': $route.name === 'Subs' }">
        <i class="fa fa-play-circle" aria-hidden="true"></i>&nbsp;Subs
        </router-link>
      </div>
      <div class="col-xs-2">
        <router-link to="/browse" id="browse_bottom" :class="{ 'active': $route.name === 'Browse' }">
        <i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Browse
        </router-link>
      </div>
      <div class="col-xs-2">
        <router-link to="/library" id="library_bottom" :class="{ 'active': $route.name === 'Library' }">
        <i class="fa fa-folder-open" aria-hidden="true"></i>&nbsp;Library
        </router-link>
      </div>
      <div class="col-xs-3">
        <router-link :to="{ name: 'Listen', params: { guid: currentPodcastGuid } }" id="listen_bottom" :class="{ 'active': $route.name === 'Listen' }">
        <i class="fa fa-play-circle-o" aria-hidden="true"></i>&nbsp;Now Playing
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
    import { mapState, mapGetters } from 'vuex'
  export default {
    name: 'SideBottomNavigation',
    computed: {
      ...mapGetters({
        podcast: 'getCurrentPodcast',
      }),
      currentPodcastGuid() {
        if (this.podcast === null) {
          return "none";
        } else {
          return this.podcast.guid
        }
      }
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
