<template>
    <div v-if="this.currentAudioState !== null && this.podcast !== null" class="small-controls">
      <div class="row">
        <div class="col-xs-2 play-button" id="play" v-if="!playing" v-on:click="play">
          <i class="fa fa-play-circle-o fa-5x" aria-hidden="true"></i>
        </div>
        <div class="col-xs-2 play-button" id="pause" v-if="playing" v-on:click="pause">
          <i class="fa fa-pause-circle-o fa-5x" aria-hidden="true"></i>
        </div>
        <div class="col-xs-10">
          <div class="row">
            <div class="col-xs-12" style="text-align: left;">
              <h4 style=" margin-bottom: 0;">{{ this.podcast.title }}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div id="slidecontainer">
                <input type="range" min="1" :max="duration" v-model="currentTimeSeconds"
                       v-bind:style="[progressBarStyle]"
                       class="slider" id="progress-bar" ref="progressbar">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
  export default {
    name: "SmallControls",
    data () {
      return {
        currentProgressBarTime: 0,
        progressBarStyle: {
          background: "-webkit-linear-gradient(left, green 0%, green 0%, black 0%)"
        }
      }
    },
    computed: {
      playing: function () {
        if (this.currentAudioState !== null && this.currentAudioState !== undefined) {
          return this.currentAudioState.playing
        } else {
          return false;
        }
      },
      currentTimeSeconds: {
        get: function () {
          if (this.currentAudioState !== null && this.currentAudioState !== undefined) {
            return this.currentAudioState.currentTimeSeconds
          } else {
            return 0;
          }
        },
        set: function (newVal) {
          if (Math.abs(newVal - this.currentTimeSeconds) > 0.5) {
            console.log("modifying time");
            eventBus.$emit("audioSetTime", newVal);
          }
        }
      },
      duration: function () {
        if (this.currentAudioState != null) {
          return this.currentAudioState.duration
        } else if (this.podcast != null) {
          return this.podcast.duration;
        }
        return 1
      },
      percent: function () {
        return (this.currentTimeSeconds / this.duration) * 100
      },
      ...mapGetters({
        podcast: 'getCurrentPodcast',
      }),
      ...mapState(['currentAudioState'])
    },
    methods: {
      updateProgress: function () {
        this.progressBarStyle['background'] = "-webkit-linear-gradient(left, green 0%, green " + this.percent + "%, black " + this.percent + "%)"
      },
      pause: function () {
        eventBus.$emit("audioPause")
      },
      play: function () {
        eventBus.$emit("audioPlay")
      },
    },
    watch: {
      currentAudioState: {
        handler(newVal, oldVal) {
          console.log("audio state updated");
          this.updateProgress();
        },
        deep: true
      },
    },
  }
</script>

<style lang="scss" scoped>
  .small-controls {
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 70px;
    background-color: #E7E7E7;
  }

  #slidecontainer {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
  }

  .progress-bar {
    background-color: black !important;
  }

  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 7px;
    background: black;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  /* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

</style>
