<template>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <router-link :to="{ name: 'Home' }" class="navbar-brand">Listen Up</router-link>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li id="home_top" :class="{ 'active': $route.name === 'Home' }"><router-link :to="{ name: 'Home' }">Home</router-link></li>
        <li id="user_feed_top" :class="{ 'active': $route.name === 'UserFeedRss' }"><router-link :to="{ name: 'UserFeedRss' }">User Feed</router-link></li>
        <li id="rss_browse_top" :class="{ 'active': $route.name === 'BrowseRss' }"><router-link :to="{ name: 'BrowseRss' }">Browse Rss Feeds</router-link></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li :class="{ 'active': $route.name === 'Signup' }" v-if="!loggedIn"><router-link to="/signup" id="nav-signup-link"><span class="glyphicon glyphicon-user"></span> Sign Up</router-link></li>
          <li :class="{ 'active': $route.name === 'Login' }"  v-if="!loggedIn"><router-link to="/login" id="nav-login-link"><span class="glyphicon glyphicon-log-in"></span> Login</router-link></li>
          <li :class="{ 'active': $route.name === 'MyAccount' }" v-if="loggedIn"><router-link :to="{ name: 'MyAccount' }" id="nav-my-account"><span class="glyphicon glyphicon-user"></span> My Account</router-link></li>
          <li :class="{ 'active': $route.name === 'Logout' }" v-if="loggedIn"><router-link :to="{ name: 'Logout' }" id="nav-logout-link"><span class="glyphicon glyphicon-log-in"></span> Logout</router-link></li>
      </ul>
    </div>
  </div>
</nav>
</template>

<script>
export default {
  name: 'TopNavigation',
  data () {
    return {

    }
  },
  mounted() {
    $(document).on('click','.navbar-collapse.in',function(e) {
      if( $(e.target).is('a:not(".dropdown-toggle")') ) {
          $(this).collapse('hide');
      }
    });
  },
  computed: {
    loggedIn() {
      return this.$store.getters.loggedIn;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
