<template>
    <div>
      <div v-if="internal_channel !== null" class="borders row">
        <div class="col-xs-2" style="height: 100px;">
          <img v-if="this.imageUrl !== null" class="rss-image" :src="this.imageUrl"/>
          <h4 v-else>Loading image</h4>
        </div>
        <div class="details col-xs-10">
          <div class="row">
            <h3>
              <router-link v-if="this.from_rss_feed" :to="{ name: 'RssChannel', params: { guid: internal_channel.guid } }">
                {{ this.internal_channel.title }}
              </router-link>
              <router-link v-else :to="{ name: 'Channel', params: { guid: internal_channel.guid } }">
                {{ this.internal_channel.title }}
              </router-link>
            </h3>
          </div>
        </div>
      </div>
      <div v-else>
        Loading channel
      </div>
    </div>
</template>

<script>
  import ChannelService from "../../services/ChannelService";

  export default {
    name: "ChannelListItem",
    data() {
      return {
        internal_channel: null,
        imageUrl: null,
      }
    },
    props: {
      channel: Object,
      channel_guid: String,
      from_rss_feed: Boolean,
    },
    mounted() {
      this.loadChannel();
    },
    methods: {
      loadChannel: function () {
        if (this.channel !== null) {
          this.internal_channel = this.channel;
        } else {
          ChannelService.getChannel(this.channel_guid).then( resp => {
            this.internal_channel = resp.data;
          }).catch(err => {
            console.log(err);
          })
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

  .borders {
    border-bottom: 2px solid grey;
  }

  .row {
    margin-top: 5px;
  }

  .details {
    text-align: left;
  }

  .rss-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    width: 100%;
    margin: auto;
  }
</style>
