<template>
  <div class="create-channel">
    <div class="app-title">
      <h1>Create a new Channel</h1>
    </div>
    <p v-if="errors.length">
      <b>Please correct the following error(s):</b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </p>

    <div class="signup-form">
      <div class="control-group">
        <label class="signup-field-icon fui-user" for="title">Title: </label>
        <input type="text" id="title" class="signup-field" v-model="title" placeholder="Channel Title" />
      </div>
      <div class="control-group">
        <label class="signup-field-icon fui-user" for="description">Description: </label>
        <input type="text" id="description" class="signup-field" v-model="description" placeholder="A Channel Description" />
      </div>
      <div class="control-group">
        <label class="signup-field-icon fui-user" for="subtitle">Subtitle: </label>
        <input type="text" id="subtitle" class="signup-field" v-model="subtitle" placeholder="A Channel Subtitle" />
      </div>
      <div class="control-group">
        <label class="signup-field-icon fui-user" for="category">Category: </label>
        <input type="text" id="category" class="signup-field" v-model="category" />
      </div>
      <div class="control-group">
        <label class="signup-field-icon fui-lock" for="language">Language: </label>
        <input type="text" id="language" class="signup-field" v-model="language" placeholder="Language" />
      </div>
      <Button v-on:click="createChannel" id="create_button" class="btn btn-primary btn-large btn-block">Create Channel</Button>
      <br>
    </div>
  </div>
</template>

<script>
  import ChannelService from "../../services/ChannelService";

  export default {
    name: 'CreateChannel',
    data () {
      return {
        errors: [],
        title: '',
        description: '',
        subtitle: '',
        category: '',
        language: '',
      }
    },
    methods: {
      validateInput: function () {
        this.errors = [];

        if (this.title === '') {
          this.errors.push("Please enter a title");
        } else if (this.title.length < 4) {
          this.errors.push("Title must be at least 4 characters");
        }

        return this.errors.length === 0;
      },
      createChannel: function () {
        if (this.validateInput()) {
          ChannelService.createChannel(
            this.title, this.description, this.category, this.language, this.subtitle
          ).then(resp => {
            this.$router.push({ name: 'Channel', params: { guid: resp.data.guid } })
          }).catch(err => {
            console.log(err);
          })
        }
      },
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

</style>
