<template>
    <div>
      <img class="rss-image" :src="this.imageUrl"/>
      <div class="row" v-for="item in feedItems">
        <PodcastListSmall v-bind:podcast="item.podcast"/>
      </div>
    </div>
</template>

<script>
  import PodcastListSmall from '@/components/PodcastListSmall'
  import RssService from '@/services/RssService'
  import MarshallerService from '@/services/MarshallerService'
  export default {
    name: "RssChannel",
    data () {
      return {
        currentRssChannel: null,
        imageUrl: null,
        feedItems: [],
      }
    },
    components: {
      PodcastListSmall,
    },
    computed: {
      routeGuid: function () {
        return this.$route.params.guid;
      },
    },
    created () {
        // Query for podcast
    },
    mounted: function () {
      this.updateRssChannel();
    },
    methods: {
      updateRssChannel: function () {
        console.log("Updating Channel");
        RssService.getRssChannel(this.routeGuid).then((r) => {
          this.currentRssChannel = r.data;
          this.updateImageUrl();
        });
        RssService.getItemsForFeed(this.routeGuid).then((r) => {
          this.feedItems = r.data;
        });
      },
      updateImageUrl: function () {
        MarshallerService.getUrlForImageGuid(this.currentRssChannel.image_guid).then((url) => {
          this.imageUrl = url;
        }).catch((err) => {
          console.log(err);
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .rss-image {
    margin: 10px;
    width: 400px;
  }
</style>
