<template>
  <div>
    <h2>{{title}}</h2>
    <h4>{{description}}</h4>
    <h5>{{category}} | {{itunes_subtitle}}</h5>
    <h5>Launched {{creation_timestamp}}</h5>
    <button v-if="isOwner">Edit Channel Info</button>
    <br/>
    <router-link v-if="isOwner" :to="{ name: 'CreatePodcast', params: { guid: this.guid } }">Create Podcast</router-link>
    <div class="row" v-for="podcast in podcasts">
      <div class="col-xs-12">
        <ChannelPodcastItem :podcast_guid="podcast.guid" :channel_guid="podcast.channel_guid" :channel="channel" :rssFeed="podcast.from_rss_feed"/>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'
  import ChannelPodcastItem from "../feeds/ChannelPodcastItem";
  import ChannelService from "../../services/ChannelService";
  import PodcastService from "../../services/PodcastService";
  export default {
    name: "ViewChannel",
    components: {
      ChannelPodcastItem
    },
    data() {
      return {
        title: "",
        description: "",
        itunes_subtitle: "",
        language: "",
        category: "",
        pub_date: "",
        image_guid: "",
        creation_timestamp: "",
        guid: "",
        owners: [],
        podcasts: [],
        channel: null,
      }
    },
    methods: {
      loadChannel: function () {
        console.log("Loading channel: " + this.routeGuid);
        if (this.routeGuid !== null) {
          ChannelService.getChannel(this.routeGuid).then( resp => {
            console.log(resp.data);
            this.title = resp.data.title;
            this.description = resp.data.description;
            this.itunes_subtitle = resp.data.itunes_subtitle;
            this.language = resp.data.language;
            this.category = resp.data.category;
            this.pub_date = resp.data.pub_date;
            this.image_guid = resp.data.image_guid;
            this.creation_timestamp = resp.data.creation_timestamp;
            this.owners = resp.data.owners;
            this.guid = resp.data.guid;
            this.channel = resp.data;
            this.loadPodcasts();
          }).catch( err => {
            console.log(err)
          })
        }
      },
      loadPodcasts: function () {
        console.log("Loading podcasts for: " + this.routeGuid);
        if (this.routeGuid !== null) {
          ChannelService.getPodcastsForChannel(this.routeGuid).then( resp => {
            this.podcasts = resp.data.podcasts;
          }).catch( err => {
            console.log(err);
          })
        }
      }
    },
    computed: {
      routeGuid: function () {
        let guid = this.$route.params.guid;
        //console.log(guid);
        if (guid === 'none') {
          return null;
        } else {
          return guid;
        }
      },
      isOwner: function () {
        for (var i = 0; i < this.owners.length; i++) {
          if (this.owners[i].user_guid === this.currentUser.guid) {
            return true;
          }
        }
        return false;
      },
      ...mapState(['currentUser']),
    },
    mounted() {
      this.loadChannel();
    }
  }
</script>

<style lang="scss" scoped>

</style>
