<template>
    <div>
      <h3>Add RSS Feed</h3>
      <div class="control-group">
        <label class="signup-field-icon fui-lock" for="feed_url">Url for RSS Feed: </label>
        <input type="text" id="feed_url" class="signup-field" v-model="feed_url" value="" name="feed_url">
      </div>
      <button v-on:click="addUrl">Add Rss Feed</button>
    </div>
</template>

<script>
  import RssService from '@/services/RssService'
  export default {
    name: "AddRssFeed",
    data () {
      return {
        feed_url: '',
      }
    },
    methods: {
      addUrl: function () {
        RssService.addRssFeed(this.feed_url).then(() => {
          console.log("It worked");
        }).error((err) => {
          console.log(err);
        })
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
