<template>
    <div>
      <h3>Browse Rss</h3>
      <div class="row" v-for="channel in feeds">
        <div class="col-xs-12">
            <ChannelWithPodcastsListItem :guid="channel.guid" :rssFeed="channel.rss_feed" :limit="3"/>
        </div>
      </div>
      <router-link :to="{ name: 'AddRssFeed' }">Add new RSS Feed</router-link>
    </div>
</template>

<script>
  import RssService from '@/services/RssService'
  import ChannelWithPodcastsListItem from '@/components/ChannelWithPodcastsListItem'

  export default {
    name: "BrowseRss",
    components: {
      ChannelWithPodcastsListItem
    },
    data () {
      return {
        currentTimeSeconds: 0,
        feeds: [],
      }
    },
    computed: {

    },
    created () {
        // Query for podcast
    },
    mounted: function () {
      this.updateFeeds();
    },
    methods: {
      nextTrack: function () {
        console.log("Next Track");
      },
      updateFeeds: function () {
        console.log("Updating feeds");
        RssService.getAllRssFeeds().then((r) => {
          this.feeds = r.data;
        })
      },
    }
  }
</script>

<style lang="scss" scoped>

</style>
