<template>
    <div class="borders row">
      <div class="col-xs-2" style="height: 100px;">
        <img class="rss-image" :src="this.imageUrl"/>
      </div>
      <div class="details col-xs-10">
        <PodcastListMedium v-if="podcast !== null" :podcast="podcast" />
        <div class="row">
          <h5 v-if="this.internal_channel !== null">
            By:
            <router-link v-if="this.rssFeed" :to="{ name: 'RssChannel', params: { guid: internal_channel.guid } }">
              {{ this.internal_channel.title }}
            </router-link>
            <router-link v-else :to="{ name: 'Channel', params: { guid: internal_channel.guid } }">
              {{ this.internal_channel.title }}
            </router-link>
          </h5>
          <h5 v-else>Failed to load channel information</h5>
          <router-link v-if="podcast !== null" :to="{ name: 'EditPodcast', params: {guid: podcast.guid } }">Edit Podcast</router-link>
        </div>
      </div>
    </div>
</template>

<script>
  import ChannelService from "../../services/ChannelService";
  import PodcastService from "../../services/PodcastService";
  import PodcastListMedium from "./PodcastListMedium";
  import RssService from "../../services/RssService";
  import MarshallerService from "../../services/MarshallerService";

  export default {
    name: "ChannelPodcastItem",
    components: {
      PodcastListMedium
    },
    data() {
      return {
        internal_channel: null,
        podcast: null,
        imageUrl: "",
      }
    },
    props: {
      podcast_guid: String,
      channel_guid: String,
      rssFeed: Boolean,
      channel: Object,
    },
    mounted() {
      this.loadChannel();
      this.loadPodcast()
    },
    computed: {

    },
    methods: {
      loadChannel() {
        if (this.channel !== null) {
          this.internal_channel = this.channel;
        } else {
          if (this.rssFeed) {
            RssService.getRssChannel(this.channel_guid).then((resp => {
              this.internal_channel = resp.data;
              this.updateImageUrl();
            })).catch((err) => {
              console.log(err)
            });
          } else {
            ChannelService.getChannel(this.channel_guid).then(resp => {
              this.internal_channel = resp.data;
              this.updateImageUrl();
            }).catch((err) => {
              console.log(err)
            });
          }
        }
      },
      loadPodcast() {
        PodcastService.getPodcastForGuid(this.podcast_guid).then((resp => {
          this.podcast = resp.data;
          this.updateImageUrl();
        })).catch((err) => {
          console.log(err)
        });
      },
      updateImageUrl: function () {
        if (this.podcast !== null && this.podcast.image_guid !== null) {
          MarshallerService.getUrlForImageGuid(this.podacst.image_guid).then((url) => {
            this.imageUrl = url;
          }).catch((err) => {
            console.log(err);
          });
        } else if (this.internal_channel !== null && this.internal_channel.image_guid !== null) {
          MarshallerService.getUrlForImageGuid(this.internal_channel.image_guid).then((url) => {
            this.imageUrl = url;
          }).catch((err) => {
            console.log(err);
          });
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

  .borders {
    border-bottom: 2px solid grey;
  }

  .row {
    margin-top: 5px;
  }

  .details {
    text-align: left;
  }

  .rss-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    width: 100%;
    margin: auto;
  }
</style>
