<template>
    <div>
      <router-link :to="{ name: 'Listen', params: { guid: podcast.guid } }">
        <h4>{{ podcast.title }}: {{ duration }}</h4>
      </router-link>
      <p>{{ podcast.description }}</p>
    </div>
</template>

<script>
    import Utils from "../../services/Utils";

    export default {
      name: "PodcastListMedium",
      props: {
          podcast: Object,
      },
      computed: {
        duration: function() {
          return Utils.toHHMMSS(this.podcast.length);
        }
      }
    }
</script>

<style lang="scss" scoped>

</style>
