<template>
    <div>
      <h3>My Feed</h3>
      <div class="row" v-for="podcast in feedPodcastsWithChannel">
        <div class="col-xs-12">
          <ChannelPodcastItem :podcast_guid="podcast.guid" :channel_guid="podcast.channel_guid" :rssFeed="podcast.from_rss_feed"/>
        </div>
      </div>
    </div>
</template>

<script>
  import FeedsService from '@/services/FeedsService'
  import ChannelPodcastItem from "@/components/feeds/ChannelPodcastItem";
  export default {
    name: "UserFeedRss",
    components: {
      ChannelPodcastItem
    },
    data () {
      return {
        currentTimeSeconds: 0,
        feed: {
          podcasts: []
        },
      }
    },
    computed: {
      feedPodcastsWithChannel: function() {
        // TODO this is kind of messy
        return this.feed.podcasts.filter(p => p.channel_guid !== null);
      }
    },
    created () {
    },
    mounted: function () {
      this.updateFeeds();
    },
    methods: {
      updateFeeds: function () {
        console.log("Updating feed");
        FeedsService.getMyFeed().then((r) => {
          this.feed = r.data;
        }).catch((err) => {
          console.log(err);
        });
      },
    },
  }
</script>

<style lang="scss" scoped>

</style>
