<template>
  <div class="create-channel">
    <div class="app-title">
      <h1>Create a new Podcast</h1>
    </div>
    <p v-if="errors.length">
      <b>Please correct the following error(s):</b>
      <ul>
        <li v-for="error in errors">{{ error }}</li>
      </ul>
    </p>

    <div class="signup-form">
      <div class="control-group">
        <label class="signup-field-icon fui-user" for="title">Title: </label>
        <input type="text" id="title" class="signup-field" v-model="title" placeholder="Channel Title" />
      </div>
      <div class="control-group">
        <label class="signup-field-icon fui-user" for="description">Description: </label>
        <input type="text" id="description" class="signup-field" v-model="description" placeholder="A Channel Description" />
      </div>
      <div class="control-group">
        <label class="signup-field-icon fui-user" for="author">Author: </label>
        <input type="text" id="author" class="signup-field" v-model="author" placeholder="Author"/>
      </div>
      <div class="control-group">
        <label class="signup-field-icon fui-lock" for="language">Language: </label>
        <input type="text" id="language" class="signup-field" v-model="language" placeholder="Language" />
      </div>
      <Button v-on:click="createPodcast" id="create_button" class="btn btn-primary btn-large btn-block">Create Podcast</Button>
      <br>
    </div>
  </div>
</template>

<script>
  import PodcastService from "../../services/PodcastService";
  import ChannelService from "../../services/ChannelService";

  export default {
    name: 'CreatePodcast',
    data () {
      return {
        errors: [],
        title: '',
        description: '',
        language: '',
        author: '',
      }
    },
    methods: {
      validateInput: function () {
        this.errors = [];

        if (this.title === '') {
          this.errors.push("Please enter a title");
        } else if (this.title.length < 4) {
          this.errors.push("Title must be at least 4 characters");
        }

        return this.errors.length === 0;
      },
      createPodcast: function () {
        if (this.validateInput()) {
          PodcastService.createPodcast(this.title, this.description, this.author, this.language).then(resp => {
            const guid = resp.data.guid;
            ChannelService.addPodcast(this.routeGuid, guid).then(resp => {
              this.$router.push({ name: 'EditPodcast', params: { guid: guid }})
            }).catch(e => {
              console.log(e);
            })
          }).catch(e => {
            console.log(e);
          })
        }
      },
    },
    computed: {
      routeGuid: function () {
        let guid = this.$route.params.guid;
        //console.log(guid);
        if (guid === 'none') {
          return null;
        } else {
          return guid;
        }
      },
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

</style>
