<template>
    <div>
      <div v-if="isOwner">
        <div>
          <div class="editing-form">
            <div class="control-group">
              <label class="signup-field-icon fui-user" for="title">Title: </label>
              <input :disabled="!editing" type="text" id="title" class="signup-field" v-model="title" placeholder="Channel Title" />
            </div>
            <div class="control-group">
              <label class="signup-field-icon fui-user" for="description">Description: </label>
              <input :disabled="!editing" type="text" id="description" class="signup-field" v-model="description" placeholder="A Channel Description" />
            </div>
            <div class="control-group">
              <label class="signup-field-icon fui-user" for="author">Author: </label>
              <input :disabled="!editing" type="text" id="author" class="signup-field" v-model="author" placeholder="Author"/>
            </div>
            <div class="control-group">
              <label class="signup-field-icon fui-lock" for="language">Language: </label>
              <input :disabled="!editing" type="text" id="language" class="signup-field" v-model="language" placeholder="Language" />
            </div>
            <Button v-if="editing" v-on:click="savePodcast" id="save_button" class="btn btn-primary btn-large btn-block">Save Podcast</Button>
            <Button v-else v-on:click="editPodcast" id="edit_button" class="btn btn-primary btn-large btn-block">Edit Podcast</Button>
            <br>
            <div v-if="files.length === 0">
              <label>Upload your podcast file
                <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
              </label>
              <button v-on:click="submitFile()">Upload</button>
            </div>
            <div v-else>
              <div v-for="file in files">
                File: {{ file.file_guid }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <h4>You are not authorized to edit this podcast</h4>
      </div>
    </div>
</template>

<script>
  import PodcastService from "../../services/PodcastService";
  import {mapState} from "vuex";

  export default {
    name: "EditPodcast",
    data() {
      return {
        title: "",
        description: "",
        language: "",
        author: "",
        creation_timestamp: null,
        image_guid: "",
        image_url: "",
        files: [],
        owners: [],
        editing: false,
        file: '',
      }
    },
    computed: {
      routeGuid: function () {
        let guid = this.$route.params.guid;
        //console.log(guid);
        if (guid === 'none') {
          return null;
        } else {
          return guid;
        }
      },
      isOwner: function () {
        for (var i = 0; i < this.owners.length; i++) {
          if (this.owners[i].user_guid === this.currentUser.guid) {
            return true;
          }
        }
        return false;
      },
      ...mapState(['currentUser']),
    },
    methods: {
      loadPodcast: function () {
        PodcastService.getPodcastForGuid(this.routeGuid).then(resp => {
          this.title = resp.data.title;
          this.description = resp.data.description;
          this.language = resp.data.language;
          this.author = resp.data.author;
          this.creation_timestamp = resp.data.creation_timestamp;
          this.image_guid = resp.data.image_guid;
          this.files = resp.data.files;
          this.owners = resp.data.owners;
        }).catch(e => {
          console.log(e);
        })
      },
      editPodcast: function () {
        this.editing = true;
      },
      savePodcast: function () {
        this.editing = false;
      },
      handleFileUpload(){
        this.file = this.$refs.file.files[0];
      },
      submitFile(){
        // TODO not refreshing correctly
        PodcastService.uploadFile(this.routeGuid, this.file).then(resp => {
          this.loadPodcast();
        }).catch(e => {
          console.log(e);
        });
      },
    },
    mounted() {
      this.loadPodcast();
    }
  }
</script>

<style lang="scss" scoped>

</style>
