#podcast-art {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.progress {
    height: 5px !important;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.right-fix {
    padding-right: 0;
}

.progress-bar {
    background-color: black !important;
}

.current-time {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    text-align: center;
}

.current-time p {
    padding: 0;
    margin: 0;
}

.total-time {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    text-align: center;
}

.total-time p {
    padding: 0;
    margin: 0;
}

#slidecontainer {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 7px;
    background: -webkit-linear-gradient(left, green 0%, green 0%, black 0%);
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.playback-row div {
    height: 84px;
}

.forward-back {
    margin-top: 20px;
}

.play-button {
    text-align: center;
    font-size: 1.2em;
    margin-top: 0;
}
