.form-group {
  text-align: center;
}

.form-label {
  min-width: 125px;
  width: 30%;
  max-width: 320px;
}

.form-input {
  min-width: 135px;
  width: 65%;
  max-width: 400px;
}

.signup-submit {
  margin: 0 auto;
  width: 200px;

}

.submit-div {
  text-align: center;
}
